html {
    font-size: 10px;
}

body {
    background-color: #ffffff;
    color: #1F2041BF;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 17px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 116rem;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 14px;
    //margin-left: 28.43rem;
    &-item {
        margin: 0 1.1rem;
        padding-left: 2rem;
    }
    &-link {
        color: #1F2041BF;
    }
}

.arrow {
    border-top: 2px solid;
    border-color: #1F2041;
    display: inline-flex;
    width: 0.6rem;
    height: 0.6rem;
    border-left: 2px solid;
    transform: rotate( -135deg);
    margin-left: 1rem;
    margin-bottom: 0.27rem;
}

.control {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    font-size: 14px;
}

.control-btn {
    margin-left: 2rem;
    font-family: Montserrat;
    appearance: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 2.2rem;
    &_come {
        min-width: 8.7rem;
        border-color: #BC9CFF;
        color: #BC9CFF;
        background-color: #ffffff;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
    &_register {
        min-width: 15.7rem;
        border: none;
        color: #ffffff;
        background-color: #BC9CFF;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
}

//.control-btn:hover {
//    background: #1d49aa;
//}
//.control-btn:focus {
//    outline: none;
//    box-shadow: 0 0 0 4px #cbd6ee;
//}