header
  .header
    a(href="#")
      img(src="./blocks/commonblocks/header/logo.jpg", alt="Logo")
    ul.menu
      li.menu-item
        a.menu-link(href="#") О нас
      li.menu-item
        a.menu-link(href="#") Услуги
          .arrow
      li.menu-item
        a.menu-link(href="#") Вакансии
      li.menu-item
        a.menu-link(href="#") Новости
      li.menu-item
        a.menu-link(href="#") Соглашения
          .arrow
    ul.control
      li.control-item
        button.control-btn.control-btn_come Войти
      li.control-item
        button.control-btn.control-btn_register Зарегистрироваться
