body {
    background-color: #ffffff;
    color: #1F2041BF;
}

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
}

.logo {
    margin-right: 251px;
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item {
        padding-left: 20px;
    }
}

.arrow {
    border-top: 2px solid;
    border-color: #8F8FA0;
    display: inline-flex;
    width: 8px;
    height: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 2px solid;
    transform: rotate( -135deg);
    margin-bottom: 2.7px;
}

.header__btn {
    @extend %bold;
    &-come {
        border-bottom-style: solid;
        border-radius: 22px;
        min-width: 87px;
        border-color: #BC9CFF;
        color: #BC9CFF;
        background-color: #ffffff;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        padding: 7px 18px 7px 20px;
    }
    &-register {
        margin-left: 20px;
        min-width: 157px;
        border: none;
        border-radius: 22px;
        color: #ffffff;
        background-color: #BC9CFF;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        padding: 9px 21px 9px 21px;
    }
}

//.control-btn:hover {
//    background: #1d49aa;
//}
//.control-btn:focus {
//    outline: none;
//    box-shadow: 0 0 0 4px #cbd6ee;
//}