header
  .header
    a(href="#")
      img(src="./blocks/commonblocks/header/logo.jpg", alt="Logo")
    nav
      ul.nav
        li.nav-item
          a(href="#").nav-link О нас
        li.nav-item
          a(href="#").nav-link Услуги
        li.nav-item
          a(href="#").nav-link Вакансии
        li.nav-item
          a(href="#").nav-link Новости
        li.nav-item
          a(href="#").nav-link Соглашения
    ul.control
      li.control-item
        button.control-btn.control-btn_come
      li.control-item
        button.control-btn.control-btn_register
