header.header
  .container
    .header__inner
      a.logo(href="#")
        img(src="./blocks/commonblocks/header/logo.jpg", alt="Logo")
      nav.menu
        ul.menu__list
          li.menu__list-item
            a.menu__list-link(href="#") О нас
          li.menu__list-item
            a.menu__list-link(href="#") Услуги
            .arrow
          li.menu__list-item
            a.menu__list-link(href="#") Вакансии
          li.menu__list-item
            a.menu__list-link(href="#") Новости
          li.menu__list-item
            a.menu__list-link(href="#") Соглашения
            .arrow
      .header__btn
        button.header__btn-come Войти
        button.header__btn-register Зарегистрироваться
