block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon" href="./favicon.ico")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet")
        script(src="index.js")
        title #{title}

    body(class=pageClass)
      .wrapper
        //-подключаю верстку шапки
        //-include ./blocks/commonblocks/header/header
          //-block content
        //-.main
        include ./blocks/forms/cards/cards
        //-block script
        //-подключаю верстку подвала
        //-include ./blocks/commonblocks/footer/footer